*
!.bashrc
!.config/
!.config/i3/
!.config/i3/config
!.config/i3status/
!.config/i3status/config
!.config/nvim/
!.config/nvim/*
!.config/nvim/after/
!.config/nvim/after/plugin/
!.config/nvim/after/plugin/*
!.config/nvim/lua/
!.config/nvim/lua/atlas/
!.config/nvim/lua/atlas/*
!.config/nvim/plugin/
!.config/nvim/plugin/*
!.cogfig/picom/
!.config/scripts/
!.config/wallpaper.sh
!.mlterm/main
!.mlterm/key
!.config/compton.conf
!.gitignore
!.selected_editor
!Pictures/
!Pictures/wallpaper/
!Pictures/wallpaper/*
